@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue sur l'application DvDs</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">Pensez a vous connecter</a>.</p>
</div>

