@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue sur l'application <br /> Gestion des DvDs</h1>
    <a href="/Identity/Account/Login">Connexion</a> |
    <a href="/Identity/Account/Register">Inscription</a>
</div>

